/* QUI METTIAMO SOLO GLI ITEMS DA MODIFICARE TIPO COLORI GRANDEZZA TXT etc... */

/* 1. Header Items sistemazione */

/* no pallini l1 */
header > div nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.headerSwag .headerLinks nav ul > li {
    display: flex;
}

.headerSwag .headerLinks nav ul li > a {
    text-decoration: none;
}


header > .headerLoginButton {
    min-height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50px;
    /* display flex? */
    display: flex;
    width: 75px;
    cursor: pointer;
    transition: all 1s;
}

header > .headerLoginButton:hover {
    color: white;
    background-color: rgb(114, 114, 255);
}


.waveimgbg {
    background-image: url(../img/wave.svg);
    height: 100px;
}
.layoutBlock.grey {
    background-color: rgb(234, 234, 234);
}
.layoutBlock.Plus.grey {
    background-color: rgb(234, 234, 234);
}

.waveBefore::before {
    content: "";
    background-image: url(../img/wave.svg);
    display: block;
    height: 100px;
}
.waveBefore::after {
    content: "";
    background-image: url(../img/wave.svg);
    display: block;
    height: 100px;
    rotate: 180deg;
}



footer > .layoutBlock.Footer > .layoutContainer.righeColonne > .Socials > div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

footer > .layoutBlock.Footer > .layoutContainer.righeColonne > .Socials > div > img{
    height: 20px;
    display: inline;
    text-align: center;
}

footer > .layoutBlock.Footer > .layoutContainer.righeColonne > .Socials > div > p{
    display: inline;
    text-align: center;
    margin-left: 5px;
}


/* 1.2 testocontenuto */
.titoloContainer > .titoloContenuto > .testoContenuto {
    margin-top: 20px;
    text-align: center;
}

/* 1.2 Bottni Scarica e apri discord */
.headerContentContainer > .titoloContainer > .titoloContenuto > .titoloBottoni > .bottoneDownload {
    min-height: 40px;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    width: 180px;
    border-radius: 50px;

}
.headerContentContainer > .titoloContainer > .titoloContenuto > .titoloBottoni > .bottoneApriDs {
    min-height: 40px;
    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    width: 250px;
    border-radius: 50px;
}

/* 2.2 IMG e TXT */
/* come fa a prendere in percentuale il container padre tipo?SDSADSADSA */
.layoutBlock > .layoutContainer > .layoutContainerImg > img {
    max-height: 50%;
}
.layoutBlock > .layoutContainer > .layoutContainerText {
    width: 20%;
}
.layoutBlock > .layoutContainer > .layoutContainerText > p {
    margin-top: 20px;
}

/* 2.3 */



/* 5. */
.layoutBlock.Plus > .layoutContainer.cinque > .layoutContainerTextCinque {
    width: 60%;
    text-align: center;
}

.layoutBlock.Plus > .layoutContainer.cinque > .layoutContainerTextCinque > p {
    margin-top: 20px;
}

/* 5.2 */
.layoutBlock > .layoutContainer > .titoloBottoni > .bottoneDownload{
    min-height: 40px;
    background-color: rgb(108, 130, 255);
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    width: 180px;
    border-radius: 50px;
    margin-top: 30px;
}

/* fa cagare pero fa niente */
.layoutBlock.Avventura > .layoutContainer.Avventura > div {
    background-image: url(../img/stars.svg);
}


footer > .layoutBlock.Footer >  .layoutContainer.righeColonne > div > ul {
    list-style: none;
    display: inline;
}

footer > .layoutBlock.Footer >  .layoutContainer.righeColonne > div > ul > .titoloLi {
    color: aquamarine;
}

footer > .layoutBlock.Footer >  .layoutContainer.righeColonne > div > ul > li {
   margin-bottom: 20px;
}

.footerEnd > .headerReg {
    min-height: 30px;
    color: white;
    background-color: rgb(90, 120, 255);
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    width: 80px;
    border-radius: 40px;
}